# 大数据文件，不上传到 GitHub
GNN/Graph-WaveNet-master-origin/data/GERMANY/train.npz
GNN/Graph-WaveNet-master-origin/data/METR-LA/train.npz
GNN/Graph-WaveNet-master-origin/data/pems-bay.h5

GNN/MTGNN-master/data/GERMANY/train.npz
GNN/MTGNN-master/data/pems-bay.h5
GNN/MTGNN-master/data/solar_AL.txt
GNN/MTGNN-master/data/METR-LA/train.npz

# 训练输出模型文件，也不需要上传
GNN/StemGNN-master/output/
Graph-DynGCN/data/pems-bay.h5
Graph-DynGCN/data/TMS_traffic_counts.csv
Graph-DynGCN/data/pems-bay.h5
Graph-DynGCN/data/TMS_traffic_counts.csv
GNN/StemGNN-master/output/Germany_processed_0/train/18_stemgnn.pt
GNN/StemGNN-master/output/Germany_processed_0/train/47_stemgnn.pt
GNN/StemGNN-master/output/Germany_processed_0/train/34_stemgnn.pt
GNN/StemGNN-master/output/Germany_processed_0/train/7_stemgnn.pt
GNN/StemGNN-master/output/Germany_processed_0/train/22_stemgnn.pt
GNN/StemGNN-master/output/Germany_processed_0/train/29_stemgnn.pt
GNN/StemGNN-master/output/Germany_processed_0/train/13_stemgnn.pt
GNN/StemGNN-master/output/Germany_processed_0/train/38_stemgnn.pt
GNN/StemGNN-master/output/Germany_processed_0/train/14_stemgnn.pt
GNN/StemGNN-master/output/Germany_processed_0/train/25_stemgnn.pt
GNN/StemGNN-master/output/Germany_processed_0/train/33_stemgnn.pt
GNN/StemGNN-master/output/Germany_processed_0/train/40_stemgnn.pt
GNN/StemGNN-master/output/Germany_processed_0/train/20_stemgnn.pt
GNN/StemGNN-master/output/Germany_processed_0/train/45_stemgnn.pt
GNN/StemGNN-master/output/Germany_processed_0/train/36_stemgnn.pt
GNN/StemGNN-master/output/Germany_processed_0/train/5_stemgnn.pt
GNN/StemGNN-master/output/Germany_processed_0/train/11_stemgnn.pt
GNN/StemGNN-master/output/Germany_processed_0/train/9_stemgnn.pt
GNN/StemGNN-master/output/Germany_processed_0/train/49_stemgnn.pt
GNN/StemGNN-master/output/Germany_processed_0/train/16_stemgnn.pt
GNN/StemGNN-master/output/Germany_processed_0/train/2_stemgnn.pt
GNN/StemGNN-master/output/Germany_processed_0/train/31_stemgnn.pt
GNN/StemGNN-master/output/Germany_processed_0/train/42_stemgnn.pt
GNN/StemGNN-master/output/Germany_processed_0/train/27_stemgnn.pt
GNN/StemGNN-master/output/Germany_processed_0/train/17_stemgnn.pt
GNN/StemGNN-master/output/Germany_processed_0/train/8_stemgnn.pt
GNN/StemGNN-master/output/Germany_processed_0/train/48_stemgnn.pt
GNN/StemGNN-master/output/Germany_processed_0/train/3_stemgnn.pt
GNN/StemGNN-master/output/Germany_processed_0/train/30_stemgnn.pt
GNN/StemGNN-master/output/Germany_processed_0/train/43_stemgnn.pt
GNN/StemGNN-master/output/Germany_processed_0/train/26_stemgnn.pt
GNN/StemGNN-master/output/Germany_processed_0/train/21_stemgnn.pt
GNN/StemGNN-master/output/Germany_processed_0/train/44_stemgnn.pt
GNN/StemGNN-master/output/Germany_processed_0/train/37_stemgnn.pt
GNN/StemGNN-master/output/Germany_processed_0/train/4_stemgnn.pt
GNN/StemGNN-master/output/Germany_processed_0/train/10_stemgnn.pt
GNN/StemGNN-master/output/Germany_processed_0/train/15_stemgnn.pt
GNN/StemGNN-master/output/Germany_processed_0/train/39_stemgnn.pt
GNN/StemGNN-master/output/Germany_processed_0/train/24_stemgnn.pt
GNN/StemGNN-master/output/Germany_processed_0/train/1_stemgnn.pt
GNN/StemGNN-master/output/Germany_processed_0/train/32_stemgnn.pt
GNN/StemGNN-master/output/Germany_processed_0/train/41_stemgnn.pt
GNN/StemGNN-master/output/Germany_processed_0/train/46_stemgnn.pt
GNN/StemGNN-master/output/Germany_processed_0/train/35_stemgnn.pt
GNN/StemGNN-master/output/Germany_processed_0/train/6_stemgnn.pt
GNN/StemGNN-master/output/Germany_processed_0/train/23_stemgnn.pt
GNN/StemGNN-master/output/Germany_processed_0/train/19_stemgnn.pt
GNN/StemGNN-master/output/Germany_processed_0/train/_stemgnn.pt
GNN/StemGNN-master/output/Germany_processed_0/train/12_stemgnn.pt
GNN/StemGNN-master/output/Germany_processed_0/train/28_stemgnn.pt
